@model HeatPumpDataViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Heat Pump";
}
<div class="jumbotron">
    <h1>Heat Pump Information</h1>
    <p class="lead">This page shows information about the heat pump.</p>
    <p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <dl>
            <dt>Initialize ASP.NET Identity</dt>            
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
        <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Two-Factor Authentication</dt>
            <dd>
                This sample shows how you can use Two-Factor authentication. This sample has a SMS and email service registered where you can send SMS or email for sending the security code.
                You can add more two-factor authentication factors such as QR codes and plug them into ASP.NET Identity.
                <ul>
                    <li>
                        Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>
                    <li>
                        Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>

                    <li>
                        Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>
                    <li>
                       Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>
                    <li>
                        Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>
                    <li>
                        Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>
                    <li>
                        Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>
                    <li>
                        Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>
                    <li>
                        Maximum Total Power Consumption @Model.MaxTotalPowerConsumption
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
    <div class="col-md-4">
        <dl>
            <dt>Maximum Total Power Consumption @Model.MaxTotalPowerConsumption</dt>
        </dl>
    </div> 
</div>
